
<section>
    <div>
        <p>Apprentissage n°2</p>
        <p-progressBar [value]="value" [showValue]="false" color="#47afff" styleClass="m-auto" [style]="{'border-radius':'1rem', 'height':'0.6rem', 'width':'10rem'}"></p-progressBar>
    </div>

    <h1 class="pb-5">Quelle commande doit-on exécuter pour installer Angular ?</h1>
    
    <div class="category"></div>

    <div class="p-fluid grid justify-content-center mt-5">
        <div class="field col-12 sm:col-8 lg:col-6 xl:col-4">
            <span class="p-float-label">
                <textarea inputId="yourAnwser" rows="3" style="resize:vertical;" cols="30"
                    pInputTextarea></textarea>
                <label for="yourAnwser">Ta réponse</label>
            </span>
        </div>
    </div>

    <button pButton type="submit" label="Valider réponse" class="customButton mt-5 text-white p-button-rounded" styleClass="customButton"></button>
    
</section>