<section *ngIf="review">
    <div>
        <p>Révision n°{{ review.step.step }} sur 10</p>
        <p-progressBar [value]="review.step.step * 10" [showValue]="false" color="{{ review.theme.color1 }}"
            styleClass="m-auto" [style]="{'border-radius':'1rem', 'height':'0.6rem', 'width':'10rem'}"></p-progressBar>
    </div>

    <h1 class="pb-5">{{ review.card.question }}</h1>

    <app-theme [theme]="review.theme"></app-theme>

    <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
        <div class="p-fluid grid justify-content-center mt-5">
            <div class="field col-12 sm:col-8 lg:col-6 xl:col-4">
                <span class="p-float-label">
                    <textarea inputId="yourAnwser" rows="3" [autoResize]="true" cols="30" pInputTextarea
                        formControlName="answer"></textarea>
                    <label for="yourAnwser">Ta réponse</label>
                </span>
            </div>
        </div>

        <div class="my-5">
            <p-overlayPanel #op my="middle" at="middle">
                <ng-template pTemplate="content">
                    <p>{{ review.card.help }}</p>
                </ng-template>
            </p-overlayPanel>
            <button pButton type="button" (click)="op.toggle($event)" label="?" class="text-white helpButton"
                [style.background]="bgLinearGradient"
                (mouseover)="designService.changeBtnStyle($event, review.theme, 1, true)"
                (mouseleave)="designService.changeBtnStyle($event, review.theme, 2)"></button>
        </div>

        <button [disabled]="!reviewForm.get('answer')?.valid" pButton type="submit" label="Valider réponse"
            class="mt-5 text-white p-button-rounded" [style.background]="bgLinearGradient"
            (mouseover)="designService.changeBtnStyle($event, review.theme, 1, true)"
            (mouseleave)="designService.changeBtnStyle($event, review.theme, 2)"></button>
    </form>

    <p-dialog header="{{ feedBackTitle }}" [(visible)]="visible" [modal]="true" [style]="{ width: 'fit-content' }"
        [draggable]="false" [resizable]="false" [closable]="false" [styleClass]="modalStyle" *ngIf="reviewFeedBack">
        <app-svg icon="{{ reviewFeedBack.success }}" class="feedback_icon"></app-svg>
        <p class="m-0 feedback_text">
            Cette question te sera reposée dans {{ reviewFeedBack.feedback.dayNextPresentation }} {{ timeSequence }}
        </p>
        <p *ngIf="!reviewFeedBack.success" class="mt-2 mb-1 fw-bold">La bonne réponse était : {{
            reviewFeedBack.feedback.goodAnswer }}</p>
        <div class="container_theme_icon {{ reviewFeedBack.success }}">
            <app-svg icon="{{review.theme.icon}}" class="theme_icon"></app-svg>
        </div>

        <button pButton type="button" label="Suivant" class="mt-4 text-white p-button-rounded {{btnModalStyle}}"
            (click)="refreshPage()"></button>
    </p-dialog>
</section>