section {
  margin-top: 5rem;
  padding-top: 6rem;
  text-align: center;
  position: relative;
}

textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -2px -2px 5px var(--light-shadow);
}

.p-float-label textarea ~ label {
  top: 2rem;
  left: 1.5rem;
}

.p-inputtext {
  font-family: "Quicksand";
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.75rem;
}

.p-inputtext:enabled:focus {
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -2px -2px 5px var(--light-shadow);
  border-color: none;
}

:host ::ng-deep .helpButton {
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
  border-radius: 50%;
}

:host ::ng-deep .p-button {
  border: none;
  box-shadow: 5px 5px 15px var(--dark-shadow),
    -5px -5px 15px var(--light-shadow);
  font-family: "Quicksand";
  font-weight: bold;
  padding: 0.75rem 2rem;
}

:host ::ng-deep .bg-true {
  background-color: #03a55a;
}

:host ::ng-deep .bg-false {
  background-color: #dc3055;
}

:host ::ng-deep .p-dialog {
  font-family: "Quicksand";
  border-radius: 2rem;
  border: 0;
  text-align: left;
}

:host ::ng-deep .p-dialog .p-dialog-header,
:host ::ng-deep .p-dialog .p-dialog-content {
  background-color: transparent;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  padding-bottom: 0.5rem;
  padding-top: 2.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.feedback_icon {
  position: absolute;
  top: -2rem;
  width: 3.75rem;
}

.feedback_text {
  font-size: 1.25rem;
}

.container_theme_icon {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2rem;
  z-index: -1;
}

.container_theme_icon.true {
  color: #039d57;
}

.container_theme_icon.false {
  color: #D42E52;
}

.theme_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20vh;
  z-index: -1;
}

:host ::ng-deep .btn-modal-true {
  background-color: #03a55a;
  box-shadow: 3px 3px 10px #01572f, -3px -3px 10px #37d48b;
}

:host ::ng-deep .btn-modal-true:enabled:hover {
  background-color: #03a55a;
  box-shadow: inset 3px 3px 4px #01572f, inset -2px -2px 4px #37d48b;
}

:host ::ng-deep .btn-modal-false {
  background-color: #dc3055;
  box-shadow: 3px 3px 10px #951934, -3px -3px 10px #ec718b;
}

:host ::ng-deep .btn-modal-false:enabled:hover {
  background-color: #dc3055;
  box-shadow: inset 3px 3px 4px #951934, inset -2px -2px 4px #ec718b;
}
