<p-menubar [model]="items" styleClass="justify-content-between">
    <ng-template pTemplate="start">
        <img src="/assets/logo/full_logo_whit.png" height="40" class="p-mr-2" alt="logo" routerLink="/" />
    </ng-template>

    <ng-template pTemplate="end">
        <span class="m-auto flex flex-row"*ngIf="(user |async)?.firstName && (user |async)?.currentOrganisation" >
            <p class="text-center m-0">{{ (user | async)?.currentOrganisation?.name }}</p>
            <p-avatar [label]="concatNameUser((user | async)?.firstName,(user | async)?.lastName )" styleClass="mr-2" shape="circle"
                [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"></p-avatar>
        </span>
    </ng-template>
</p-menubar>