<p-menubar [model]="items" styleClass="justify-content-between">
    <ng-template pTemplate="start">
        <img src="/assets/logo/full_logo_white.png" height="40" class="logo p-mr-2" alt="logo" routerLink="/" />
    </ng-template>

    <ng-template pTemplate="end">
        <p-dropdown *ngIf="organisations && user?.firstName && user?.currentOrganisation && showOrganisation"
            [(ngModel)]="organisationsSelected" [options]="organisations!" (onChange)="showConfirm =true"
            optionLabel="name" optionValue="_id"></p-dropdown>
    </ng-template>
</p-menubar>


<p-dialog header="Header" [(visible)]="showConfirm" [style]="{ width: 'fit-content' }" [closable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">🏫 Changement d'organisation</span>
    </ng-template>
    <p>
        Es-tu sûr(e) de vouloir changer d'organisation ? 🤔
    </p>
    <p>
        Tu seras redirigé vers la page d'accueil après le changement.
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="cancelChangeOrganisation()" label="Annuler"
            styleClass="p-button-rounded p-button-text cancel-btn"></p-button>
        <p-button icon="pi pi-check" (click)="confirmChangeOrganisation()" label="Ok"
            styleClass="p-button-rounded p-button-text beige-btn"></p-button>
    </ng-template>
</p-dialog>