textarea,
::ng-deep input,
::ng-deep input.p-inputtext {
  background: none;
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: inset 5px 5px 5px var(--dark-shadow), inset -2px -2px 5px var(--light-shadow);
  width: 100%;
  height: auto !important;
}

::ng-deep .p-password {
  width: 100%;
}

::ng-deep .p-password i {
  padding-right: 1rem;
}

::ng-deep .p-float-label textarea ~ label,
::ng-deep .p-float-label input ~ label,
::ng-deep .p-float-label label {
  left: 1.5rem;
}

::ng-deep .p-float-label textarea ~ label {
  top: 2rem;
}

::ng-deep .p-inputtext {
  font-family: 'Quicksand';
}

::ng-deep .p-inputtext:enabled:focus {
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -2px -2px 5px var(--light-shadow);
  border-color: none;
}