<p-card [style]="{ background: 'linear-gradient('+ theme.color1 +', '+ theme.color2 + ')', borderRadius: '1.5rem'}">
  <ng-template pTemplate="content" styleClass="p-0">
    <div class="block sm:flex align-items-center">
      <ng-content select="[image]"></ng-content>
      <div>
        <p class="mt-0 mb-1 font-bold">{{theme.name}}</p>
        <ng-content select="[text]"></ng-content>
      </div>
    </div>
    <app-svg icon="{{theme.icon}}" class="icon-theme"></app-svg>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-content></ng-content>

  </ng-template>
</p-card>