<p-card class="flex-card" [style]="{ width: '90vw' }">
  <ng-template pTemplate="content">
    <p>title card</p>
    <small>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
      neque quas!
    </small>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-pencil"
      styleClass="p-button-rounded p-button-success p-button-text p-button-raised"></p-button>
    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"></p-button>
  </ng-template>
</p-card>