section {
  margin-top: 5rem;
  padding-top: 6rem;
  text-align: center;
  position: relative;
}

::ng-deep .p-dropdown {
  background: none;
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -2px -2px 5px var(--light-shadow);
}

::ng-deep .p-dropdown-label,
::ng-deep .p-dropdown-panel .p-dropdown-items {
  text-align: left;
}

:host ::ng-deep .p-button {
  border: none;
  box-shadow: 5px 5px 15px var(--dark-shadow),
    -5px -5px 15px var(--light-shadow);
  font-weight: bold;
  padding: 0.75rem 2rem;
}