<section *ngIf="organisation">
    <h1 class="text-center">Gestion de <span class="yellow-txt">{{ organisation.name }}</span></h1>
    <div class="grid">
        <div class="col-12">
            <h2>Collaborateurs</h2>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 pb-4" *ngFor="let admin of organisation.admin">
            <div class="user-card admin">
                <p class="admin-crown">👑</p>
                <p><span class="user-emoji">😎</span> {{ admin.firstName }}<br><span class="yellow-txt">{{
                        admin.lastName }}</span></p>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 pb-4" *ngFor="let user of organisation.users">
            <div class="user-card">
                <p><span class="user-emoji">😎</span> {{ user.firstName }}<br><span class="yellow-txt">{{ user.lastName
                        }}</span></p>
                <button pButton type="button" icon="pi pi-trash"
                    class="text-white p-button-rounded p-button-raised yellow-btn"
                    (click)="showDialog(false, user._id)">
                </button>
            </div>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 pb-4">
            <div class="add-user-card">
                <button pButton type="button" icon="pi pi-plus"
                    class="text-white p-button-rounded p-button-raised yellow-btn btn-xl" (click)="showDialog(true)">
                </button>
            </div>
        </div>
    </div>

    <p-dialog class="delete-dialog" [style]="{width: 'fit-content'}" [(visible)]="showdeleteDialog"
        (onHide)="closeDialog()">
        <span class="p-confirm-dialog-message ng-tns-c67-1">Es-tu sûr de vouloir supprimer cet utilisateur de ton
            organisation ?</span>
        <ng-template pTemplate="footer">
            <button type="button" pButton class="p-button-rounded cancel-btn text-white"
                [style]="{ background: 'var(--light-bg-color)' }" icon="pi pi-times" label="Non"
                (click)="closeDialog()"></button>
            <button type="button" pButton class="p-button-rounded text-white mr-0 yellow-btn" icon="pi pi-check"
                label="Oui" (click)="deleteUserOrganisation()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog class="update-dialog" header="Nouveau collaborateur" [(visible)]="showAddDialog"
        [style]="{width: 'fit-content'}" (onHide)="closeDialog()">
        <form [formGroup]="addUserOrganisationFormGroup" (ngSubmit)="addUserOrganisation()" class="mb-4">
            <div class="mt-5">
                <app-custom-input [formGroup]="addUserOrganisationFormGroup" label="ID de l'utilisateur"
                    inputId="userIdAdded" type="text"></app-custom-input>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="submit" [style]="{ background: 'var(--light-bg-color)' }" icon="pi pi-times"
                label="Annuler" (click)="closeDialog()"
                class="p-button-rounded p-button-text cancel-btn text-white"></button>
            <button pButton pRipple type="submit" label="Ajouter" class="p-button-rounded text-white mr-0 yellow-btn"
                icon="pi pi-check" (click)="addUserOrganisation()"></button>
        </ng-template>

    </p-dialog>

</section>