<section class="register-page">
  <div class="grid flex justify-content-center">
    <form class="col-12 sm:col-8 md:col-6 xl:col-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="register-text mb-6">
        <h1>Bienvenue !</h1>
        <p>Commençons notre collaboration 🤓</p>
      </div>

      <app-custom-input [formGroup]="registerForm" label="Nom" inputId="lastName" type="text"></app-custom-input>

      <app-custom-input [formGroup]="registerForm" label="Prénom" inputId="firstName" type="text"></app-custom-input>

      <app-custom-input [formGroup]="registerForm" label="Email" inputId="email" type="email"></app-custom-input>

      <app-custom-input inputType="new-password" [formGroup]="registerForm" label="Mot de passe"
        inputId="password"></app-custom-input>

      <app-custom-input inputType="password" [formGroup]="registerForm" label="Confirmation mot de passe"
        inputId="confirmPassword"></app-custom-input>

      <div class="text-center">
        <button [disabled]="!registerForm.valid" pButton type="submit" label="Je m'inscris"
          class="text-white p-button-rounded dark-btn"></button>
      </div>
    </form>
  </div>
</section>