<h1 class="flex justify-content-center align-items-center w-100 text-center min-h-full vertical-align-middle"
  style="text-align: center;">LANDING PAGE</h1>

<h2> L'apprentissage espacé ?</h2>
<p>
  Basé sur les travaux des chercheurs Edgar Dale et Hermann Ebbinghaus​, ils prouvent à travers la pyramide d'apprentissage que la rétention d'informations diffère en fonction de la méthodologie employée et que la mémorisation sur le long terme dépend de la fréquence de répétition.
</p>

<img [src]="bucketLandingPage + 'pyramide-apprentissage.webp'" alt="pyramide de l'apprentissage décrivant le taux de rétention en fonction de la méthodologie employée">

<h2> C'est quoi mémozart ?</h2>
<p>
  L'application Memozart est un site web basé sur cet apprentissage espacé. Elle permet à toute personne ou entreprise de créer des cartes de révision qui vont être représentées à des délais plus ou moins espacés.
</p>
<img [src]="bucketLandingPage + 'etape-apprentissage.webp'" alt="image des étapes d'apprentissage">
<p>
  Garantissant une assimilation fluide, adéquate et durable, l'application, grâce à son algorithme, va intensifier les révisions des leçons les moins retenues au profit des leçons déjà maîtrisées. Suivant un processus en 10 étapes, lors de l'arrivée à cette dernière, l'utilisateur pourra alors être certain que la révision sera profondément acquise et ancrée dans ses connaissances.</p>

<h2>Envie d'en savoir plus ?</h2>

<button pButton type="button" [routerLink]="'/register'" label="REJOIGNEZ NOUS!" class="mt-5 text-white p-button-rounded"></button>