<h1 class="flex justify-content-center align-items-center w-100 text-center min-h-full vertical-align-middle"
  style="text-align: center;">LANDING PAGE</h1>

<h2> L'apprentissage espacé ?</h2>
<p>
  Basé sur les travaux des chercheurs ... et ... ils prouvent à travers la pyramide d'apprentissage que la rétention
  d'informations diffère en fonction la méthodologie employé et que la mémorisation sur le long terme dépends de la
  fréquence de répétition.
</p>

<h2> C'est quoi mémozart ?</h2>
<p>
  L'application memozart est un site web basé sur cet apprentissage espacé. Elle permet à toute individu ou entreprise de
créer des cartes de révision qui vont être représenter à des délais plus ou moins espacé.

</p>
<p>
  Garantissant une assimilition fluide, adéquate et durable l'application, grâce à son algorithme, va intensifier les
révisions les moins retenues en faveur des leçons déjà maitrisé. Suivant un processus en 10 étapes, lors de l'arrivée à
cette dernière l'utilisateur pourra alors être certain que la révision sera profondement acquis et ancré dans ses
connaissances.</p>

<h2>Envie d'en savoir plus ?</h2>

<button pButton type="button" [routerLink]="'/register'" label="REJOIGNEZ NOUS!" class="mt-5 text-white p-button-rounded"></button>