section {
  min-height: calc(100vh - 228px);
}

h1 {
  text-align: center;
  margin: 0;
}

.p-button-rounded {
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  border: none;
}

.dark-btn {
    background-color: #1F2D40;
    box-shadow: 5px 5px 15px #0C1119, -5px -5px 15px #304562;
}

.dark-btn:hover {
  background-color: #1F2D40;
  box-shadow: inset 4px 4px 4px #0C1119, inset -4px -4px 4px #304562;
}

:host ::ng-deep .p-float-label {
  margin-bottom: 2rem;
}