/* You can add global styles to this file, and also import other style files */
:root {
  --light-bg-color: #304562;
  --dark-bg-color: #1F2D40;
  --light-shadow: #304562;
  --dark-shadow: #17212F;
  --custom-bg-color: #304562;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-VariableFont_wght.ttf');
}

* {
  font-family: 'Quicksand';
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  background: var(--custom-bg-color) !important;
  color: white;
}

h1 {
  font-size: 40px;
  margin-top: 0;
}

section {
  background-color: var(--dark-bg-color);
  min-height: calc(100vh - 254px);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 2rem 3rem;
}

.caveat-font {
  font-family: 'Caveat';
}

.blink-error-color {
  color: #ff7e7e !important;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

@media (max-width: 960px) {
  section {
    min-height: calc(100vh - 218px);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  section {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
}