/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  padding: 0;
}

.blink-error-color {
  color: var(--primary-color) !important;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
